.pc-form {
  --bs-border-color: var(--color-border-subtle);
  --bs-secondary-bg: var(--color-surface-base);
  font-family: var(--sapFontFamily);

  p {
    margin-bottom: 0;
  }

  .form-label {
    @apply text-sm mb-1;
    font-family: var(--sapFontHeaderFamily);
    font-weight: 400;
  }

  .form-control,
  .custom-select,
  .form-check-label {
    @apply mb-1 text-sm #{!important};
  }

  .form-control:disabled,
  .custom-select:disabled {
    color: var(--color-neutral-700);
  }

  .row {
    margin-bottom: 1rem !important;
  }

  .form-control:focus {
    box-shadow: inherit !important;
    border-color: var(--color-brand-primary);
  }

  .card {
    @apply px-3 py-2;
    margin-bottom: 0 !important;

    .card-header,
    .card-body,
    .list-group-item {
      background: transparent;
      border: 0;
    }

    .list-group-item {
      @apply p-0 pt-1;
    }

    &.border-danger {
      @apply text-sm;
      background: var(--sapErrorBackground);

      .card-header {
        @apply font-bold text-accent-negative p-0;
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #000;
    font-weight: 400;
    font-family: var(--sapFontHeaderFamily);
    margin-bottom: 4px;
  }

  h1,
  h2,
  h3 {
    margin-top: 28px;
  }

  h6 {
    font-size: var(--sapFontHeader6Size);
  }

  h5 {
    font-size: var(--sapFontHeader6Size);
  }

  h4 {
    font-size: var(--sapFontHeader6Size);
  }

  h3 {
    font-size: var(--sapFontHeader5Size);
  }

  h2 {
    font-size: var(--sapFontHeader4Size);
  }

  h1 {
    font-size: var(--sapFontHeader3Size);
  }

  .field-null {
    label {
      display: none;
    }
  }

  .my-1 {
    display: none;
  }

  ul {
    @apply pl-4;
  }

  ul:not(.list-group),
  ol {
    @apply mt-2;
  }

  textarea {
    border-radius: 0.375rem !important;
  }

  .form-group .mb-3 {
    margin-bottom: 0 !important;
  }

  button[type='submit'] {
    @apply mt-4 ml-auto block;
    min-width: 200px;
  }

  // FIX wrong class in rfjs version for select - custom-select instead of form-select
  // add bootstrap form-select style for custom-select
  .custom-select {
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 17'%3e%3cpath fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  @media (prefers-reduced-motion: reduce) {
    .custom-select {
      transition: none;
    }
  }

  .custom-select:focus {
    border-color: var(--color-brand-primary);
    outline: 0;
  }

  .custom-select[multiple],
  .custom-select[size]:not([size='1']) {
    padding-right: 0.75rem;
    background-image: none;
  }

  .custom-select:disabled {
    background-color: var(--bs-secondary-bg);
  }

  .custom-select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 var(--bs-body-color);
  }
}
